body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo-container {
    margin-top: -40px;
    margin-bottom: 20px;
    text-align: center;
}

.logo-container img {
    max-width: 90%; /* Adjusted to make the logo responsive */
    height: auto;
}

.container {
    text-align: center;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make the container full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.page-wrapper {
    width: 100%;
    max-width: 600px; /* Limit the maximum width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.status {
    margin: 20px 0;
}

.status img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap on small screens */
    justify-content: center; /* Center all buttons */
    gap: 10px; /* Add space between buttons */
    margin-top: 20px;
}

.buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px; /* Reduced padding to make the button smaller */
    font-size: 14px; /* Slightly smaller font size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1; /* Allow buttons to stretch */
    max-width: 200px; /* Limit the button width */
}

.buttons button:hover {
    background-color: #45a049;
}

.buttons button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        font-size: 12px; /* Make buttons even smaller on very small screens */
        padding: 8px 16px; /* Adjust padding */
        width: 100%; /* Make buttons full-width on mobile */
    }
}

#stopButton {
    background-color: #e82525; /* Red color */
    color: #fff; /* White text color */
}

#stopButton:hover {
    background-color: #a10101; /* Darker red on hover */
}

#stopButton:disabled {
    background-color: #cccccc; /* Light grey color when disabled */
    color: #fff; /* Dark grey text color when disabled */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}

#stopButton:disabled:hover {
    background-color: #cccccc; /* Ensure hover does not change color when disabled */
}
