/* static/login.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo-container {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.logo-container img {
    max-width: 400px; /* Increased size for the logo */
    height: auto;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left; /* Change text alignment to left */
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Keep the heading centered */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}