body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo-container {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.logo-container img {
    max-width: 400px; /* Increased size for the logo */
    height: auto;
}

.container {
    text-align: center;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.status {
    margin: 20px 0;
}

.status img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.buttons {
    display: flex;
    justify-content: center; /* Center all buttons */
    gap: 10px; /* Add space between buttons */
    margin-top: 20px;
}

.buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #45a049;
}

.buttons button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}