<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpiritServer Control Panel</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.ico">
  <script>

    async function wakeOnLan() {
      try {
        const response = await fetch('/wake', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        const result = await response.json();
        alert(result.message || result.error);
      } catch (error) {
        alert(`Error: ${error}`);
      }
    }

    async function stopServer() {
      try {
        const response = await fetch('/stop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        const result = await response.json();
        alert(result.message || result.error);
      } catch (error) {
        alert(`Error: ${error}`);
      }
    }

    async function startServer() {
      try {
        const response = await fetch('/start', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        const result = await response.json();
        alert(result.message || result.error);
      } catch (error) {
        alert(`Error: ${error}`);
      }
    }

    async function restartServer() {
      try {
        const response = await fetch('/restart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        const result = await response.json();
        alert(result.message || result.error);
      } catch (error) {
        alert(`Error: ${error}`);
      }
    }

    async function checkServerStatus() {
      try {
        const response = await fetch('/status');
        const restartButton = document.getElementById('restartButton');
        const wakeOnLanButton = document.getElementById('wakeOnLanButton');
        const startButton = document.getElementById('startButton');
        const stopButton = document.getElementById('stopButton');
        if (response.status === 200) {
          // Fully loaded
          document.getElementById('host-status-icon').src = '/static/resources/online.png';
          document.getElementById('minecraft-status-icon').src = '/static/resources/online.png';
          restartButton.disabled = false;
          wakeOnLanButton.disabled = true;
          startButton.disabled = true;
          stopButton.disabled = false;
        } else if (response.status === 205) {
          // Booting Server
          document.getElementById('host-status-icon').src = '/static/resources/online.png';
          document.getElementById('minecraft-status-icon').src = '/static/resources/loading.gif';
          restartButton.disabled = true;
          wakeOnLanButton.disabled = true;
          startButton.disabled = true;
          stopButton.disabled = true;
        } else if (response.status === 206) {
          // Server Offline
          document.getElementById('host-status-icon').src = '/static/resources/online.png';
          document.getElementById('minecraft-status-icon').src = '/static/resources/offline.png';
          restartButton.disabled = true;
          wakeOnLanButton.disabled = true;
          startButton.disabled = false;
          stopButton.disabled = true;
        } else if (response.status === 207) {
          // Server Restarting
          document.getElementById('host-status-icon').src = '/static/resources/online.png';
          document.getElementById('minecraft-status-icon').src = '/static/resources/loading.gif';
          restartButton.disabled = true;
          wakeOnLanButton.disabled = true;
          startButton.disabled = true;
          stopButton.disabled = true;
        } else {
          // General failure/unknown status or Both machine and server are offline
          document.getElementById('host-status-icon').src = '/static/resources/offline.png';
          document.getElementById('minecraft-status-icon').src = '/static/resources/offline.png';
          restartButton.disabled = true;
          wakeOnLanButton.disabled = false;
          startButton.disabled = true;
          stopButton.disabled = true;
        }
      } catch (error) {
        // Error case
        document.getElementById('host-status-icon').src = '/static/resources/offline.png';
        document.getElementById('minecraft-status-icon').src = '/static/resources/offline.png';
        document.getElementById('restartButton').disabled = true;
        document.getElementById('wakeOnLanButton').disabled = false;
        document.getElementById('startButton').disabled = true;
        document.getElementById('stopButton').disabled = true;
      }
    }

    setInterval(checkServerStatus, 5000); // Check every 5 seconds

  </script>
</head>
<body>
<div class="page-wrapper">
  <div class="logo-container">
    <img src="/static/resources/jmglogo.png" alt="JMG Logo">
  </div>
  <div class="container">
    <div class="status">
      <h2>Host Machine Status: <img id="host-status-icon" src="/static/resources/loading.gif" alt="Host Status"></h2>
    </div>
    <div class="status">
      <h2>Minecraft Server Status: <img id="minecraft-status-icon" src="/static/resources/loading.gif" alt="Minecraft Status"></h2>
    </div>
    <div class="buttons">
      <button id="wakeOnLanButton" onclick="wakeOnLan()" disabled>Wake on LAN</button>
      <button id="startButton" onclick="startServer()" disabled>Start Server</button>
      <button id="stopButton" onclick="stopServer()" disabled>Stop Server</button>
      <button id="restartButton" onclick="restartServer()" disabled>Restart Server</button>
    </div>
  </div>
</div>
</body>
</html>
